*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-size: 15px;
    font-family: 'inter-font-family';
}

// img{
//     vertical-align: middle;
// }

ul , ol{
    list-style: none;
    margin: 0;
    padding: 0;
}



a{
    text-decoration: none;
    color: black;
}
// .container{
//     width: 1400px;
//     margin: 0 auto;
//     padding: 0 15px;
// }

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: 1px;
   padding: 0;
   overflow: hidden;
   border: 0;
   clip: rect(0 0 0 0);
  }
 
