.our{
    margin-top: 100px;
}

.give__img-twoo{
    margin-top: -80px;
    width: 100%;
}


.our__min-box{
    margin-top: 40px;
}


nav{
margin-top: 50px;
}

.our__min-boxt-text{
    margin-top: 44px;
    // width: 450px;
height: 84px;
flex-shrink: 0;
color: #2B2B2B;

font-family: "Manrope";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 180%; /* 43.2px */
}

.our__box-min{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 68%;

}

.our__profile-box{
    width: 90%;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.our__min-box-whan{
    background-color: red;
}